{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    {{ if not .Date.IsZero }}
    <div class="post-meta">Published on {{ .Date.Format "January 2, 2006" }}</div>
    {{ end }}
    
    <div class="content">
        {{ .Content }}
    </div>
    
    {{ if .Params.tags }}
    <div class="tags">
        <strong>Tags:</strong>
        {{ range .Params.tags }}
        <span style="padding: 2px 6px; margin-right: 5px; border-radius: 3px;">{{ . }}</span>
        {{ end }}
    </div>
    {{ end }}
</article>
{{ end }}