{{ define "main" }}
<h1>{{ .Title }}</h1>

<!-- list of posts from new to old -->
{{ range .Pages.Reverse }}
<article>
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <div class="post-meta">{{ .Date.Format "January 2, 2006" }}</div>
    <!-- <p>{{ .Summary }}</p> -->
    <a href="{{ .Permalink }}" class="read-more">Read more →</a>
    {{ if .Params.tags }}
    <div class="tags">
        <strong>Tags:</strong>
        {{ range .Params.tags }}
        <span>{{ . }}</span>
        {{ end }}
    </div>
    {{ end }}
</article>
{{ end }}
{{ end }}