{{ define "main" }}

<section id="hero">
    <h1>Paweł Staniec</h1>
    <p style="text-align:center;font-size:1.25rem;opacity:0.8;">
        {{ .Site.Params.description }}</p>
    <div class="social">
        <a href="https://github.com/pawelst" aria-label="GitHub" target="_blank" rel="noopener">GitHub</a>
        <a href="#" aria-label="LinkedIn">LinkedIn</a>
    </div>
</section>
<section id="about">
    <h2>About Me</h2>
    <p>Application Engineer turned Chief Technology Officer, SCRUM Certified Master, and software architect with 15+
        years of experience designing, developing, and securing global-scale systems. I optimize complex processes by
        day and sneak in dad jokes by standup - just to keep things agile and fun.</p>
</section>
<section id="projects">
    <h2>Projects</h2>
    <!--
    <p><strong>Project One:</strong> Description of your project with a link <a href="#">here</a>.</p>
    <p><strong>Project Two:</strong> Description of another project with a link <a href="#">here</a>.</p>
    -->
    <p style="font-style:italic;opacity:0.8;">Coming soon...</p>
</section>

{{ end }}